.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    background: #fff;
    font-size: 16px;
    width: 100%;
    height:60px;
  }
  .header-logo{
    display: flex;
    width: 86.7px;
    height: 40px;
    object-fit: contain;
  }
  .header-links{
    display: flex;
    gap: 40px;
    color: #b0776c;
  }
  .menu-icon{
    color: #3a1a5f;
  }

  .language{
    font-family: Cairo;
  }
  