.banner-container{

    height: 469px;
    background-image: url('/assets/images/m-web-banner.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    &__contents{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content:center;
        gap: 24px;
        padding: 24px 16px;
        &-text-content{
            display: flex;
            flex-direction: column;
            gap: 16px;
    
          h3{
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -0.72px;
          }
          p{
            font-size: 16px;
            letter-spacing: -0.48px;
          }

        }
        
    }
    &__card-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        
            &-card1{
                @extend .card-styles;
                background-image:url("/assets/images/banner-card-1.png") ;
            }
            &-card2{
                @extend .card-styles;
                background-image: url("/assets/images/banner-card-2.png");
            }
            h3{ 
                font-size: 16px;
                font-weight: 600;
                line-height: 1.15;
            }
            p{
                font-size: 14px;
                font-weight: normal;
                line-height: 1.3;
            }
            
        }
        
    }
    .card-button{
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 10px;
        font-weight: 600;
        border-radius: 4px;
        padding:8px 16px ;
    }
.card-styles {
        width: 343px;
        height: 140px;
        border-radius: 6px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        background-position: center;
        background-size: cover;
        padding-left: 16px;

}