.content{
    padding: 0px 16px 130px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-p{
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 12px;
    color: #000000;
}

.content-main{
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.accordion-wrapper{
    display: flex;
    flex-direction: column;
    ul{
        padding-left: 20px;
    }   
}

.accordion{
    border-radius: 0px;
    padding: 15px 0px;
    box-shadow: none;
}

.content-faq{
    color: #b0776c;
    font-size: 16px;
    font-weight: 500;
}

.content-faq-primary{
    @extend .content-faq;
    color: #1f1f1f;

}
