* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.landing-accordion {
  .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
    transform: rotate(135deg);
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  padding-bottom: 60px;
}
