.container{
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 12px;
    line-height: 1.5;
    &-primary{
        color:#b800c4 ;
    }

}
.divider{
color: #f0f2f5;
}
